@import "tailwindcss";

html::-webkit-scrollbar{
    width: 5px;
    background-color:black;
}

html::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: gray;
}

#cardHolder::-webkit-scrollbar{
    display: none;
}